.containerSidebar{
  
  width: 100%;
  position: fixed;
  z-index: 1000;
  background-color: #FFF;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  
  img{
    width: 247px;
    height: auto;
  }
}

.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;

   @media (min-width: 1920px) {
    max-width: 1420px;
    margin: auto;
  }

  @media (min-width: 1440px) and (max-width: 1920px) {
    max-width: 1308px;
    margin: auto;
  }

  @media (max-width: 1360px) {
    max-width: 1277px;
    margin: auto;
  }
}

.menu{
  display: flex;
  gap: 42px;
}